@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #DACBC8; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1d08298; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F1D082; 
  }

header {
    display: flex;
    background-image: url(/images/FJ.QUARTZ_logo2.png);
    background-size: cover;
    height: 100vh;
}

nav {
    display: flex;
}
.bgcolor {
    background: #1a7474;
}
.navbar-collapse a{
    font-size: 1em;
    text-transform: uppercase;
    padding-left: 15%;
}
.navbar {
    box-shadow: 10px 10px 10px rgba(45,55,68,0.30);
}
nav img {
    width: 80px;
}
.collapse{
    margin-left: 50%;
}

.pots {
    display: grid;
    background-image: url(/images/pots.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#presentation{
    scroll-margin-top: 90px;
}

.confection {
    display: flex;
    background-color: #f1d082c5;
    background-size: cover;
    height: auto;
}
.card {
    margin: 30px;
    margin-left: 10%;
    background-color: #1a7474;
    color: #DACBC8;
    box-shadow: 20px 10px 20px rgba(45,55,68,0.40);
}
.card-text {
    text-align: justify;
}

.galerie{
    width: 50%;
    padding-top: 90px;
}
.galerie1{
    display: flex;
}
.galerie2{
    display: flex;
    padding-top: 100px;
    
}
.photoAtelier2 {
    margin: 0 auto;
    box-shadow: 20px 10px 20px rgba(45,55,68,0.40);
}
.photoAtelier{
    margin: 0 auto;
    box-shadow: 20px 10px 20px rgba(45,55,68,0.40);
    
}

.mosaique{
    display: grid;
    background-image: url(/images/mosaique.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.carousel-inner{
    height: auto;
    width: 100%;
}


footer {
    background-color: #1FDADC;
    margin: 0;
    height: 50px;
}

footer p {
    text-align: center;
    padding: 10px 0;
    color: #0c3535;
    font-size: 1em;
}